*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1;
    transition: 0.6s;
}
header .logo{
    font-size: 31px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #250821;
}
.blob
{
    position: absolute;
    width: 300px;
    height: 300px;
}
.blob:nth-child(2)
{
    filter: blur(50px);
}
.subtitle
{
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}