@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1;
    transition: 0.6s;
}
header .logo{
    font-size: 31px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right,#f4f2ee,#dcc2b6,#ced8d0,#dde1e3);
}
.fill-area{
    width: 100vw;
    height: 100vh;
    background: #333838;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    box-shadow: inset 3px 3px 5px -1px#111;
    pointer-events: none;
}
label{
    font-family: 'Monoton';
    font-size: 8rem;
    position: static;
    z-index: 1;
    color: #000000;
    margin: -5rem 0 2rem;
}
label::after{
    content: '%';
}
input[type=range]{
    position: static;
    z-index: 2;
    width: 50vw;
    height: 1rem;
    background: rgba(88, 36, 36, 0.8);
    appearance: none;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    box-shadow: inset 3px 3px 5px -1px#000;
}
input[type=range]::-webkit-slider-thumb{
    width: 4vw;
    height: 4vw;
    background: #eee;
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 5px 5px 8px -1px #000;
    transition: box-shadow 0.3s ease-in-out;
}
input[type=range]:hover::-webkit-slider-thumb{
    background: #fff;
    box-shadow: 3px 3px 5px -1px #000;
}